.layout {
	display: grid;
	grid-template-columns: 240px minmax(0, 1fr);
	grid-template-rows: 56px minmax(0, 1fr);

	height: 100vh;
	overflow: hidden;
}

.header__wrapper {
	border-bottom: 1px solid var(--separator);
	grid-area: 1 / 1 / 2 / 3;
}

.sidebar__wrapper {
	border-right: 1px solid var(--separator);
	grid-area: 2 / 1 / 3 / 2;
	overflow-y: auto;
}

.content__wrapper {
	grid-area: 2 / 2 / 3 / 3;
	min-width: 0;
	overflow-y: auto;
}

.content__wrapper main {
	padding: 24px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
